$fontMain: "RobotoFlex", "Verdana", "Helvetica", "Arial", sans-serif;
$fontWeightNormal: 300;
$fontSize: 10px;

$colorBgnd: #ffffff;
$colorBgndLight: #f1f3fe;
$colorBgndDark: #b4bef0;
$colorMain: #3c425f;
$colorVideo: #576bcc;
$colorDate: #0bc4cf;
$colorBtn: #ff8f0b;
